[Unit]
Description=Voldemort server
After=network.target

[Service]
Type=forking

WorkingDirectory={{ voldemort_install_path }}

ExecStart={{ voldemort_bin_path }}/voldemort-server.sh "{{ voldemort_confs_path }}/{{ installation_name }}"
ExecStop={{ voldemort_bin_path }}/voldemort-stop.sh

User={{ voldemort_user }}
Group={{ voldemort_group }}

[Install]
WantedBy=multi-user.target
